/**
 * Module dependencies.
 */

@import 'nib'
@import 'util.styl'

// End of dependencies.
// 


columns       = 36
column_width  = 20px


.clearfix
  clearfix()

.row 
  margin-left 0
  clearfix()

[class*="span"]
  float left
  min-height 1px
  margin-left 0

[class*="span"].hide 
  display none
[class*="span"].pull-right
  float right

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container 
  width columns*column_width

make-grid-columns(columns, column_width)