'use strict';

/**
 * Module dependencies.
 */

@import 'clearfix.styl'

// End of dependencies.


/**
 * Generate grid.
 */

make-grid-columns(columns, column_width, suffix='')

  column_width = unit(column_width, px)

  .row 
    margin-left 0
    clearfix()

  [class*="span"]
    float left
    min-height 1px
    margin-left 0

  for n in 0..columns
    .span{suffix}{n}
      width n*column_width
    .offset{suffix}{n}
      margin-left n*column_width